@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code below */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .banner-bg-gradient {
    background-image: linear-gradient(
      rgba(64, 164, 51, 1),
      rgba(64, 164, 51, 0)
    );
    height: 494px;
  }

  .banner-header {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
  }

  .banner-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  .banner-search-wrapper {
    background-color: rgba(247, 242, 250, 1);
    height: 48px;
    overflow: hidden;
  }

  input.search-bar {
    outline: none;
    border: none;
  }

  .btn-all,
  .btn-find {
    height: 40px;
  }

  .btn-all {
    width: 120px;
    background-color: rgba(247, 242, 250, 1);
    border: none;
  }

  .btn-find {
    width: 159px;
    color: #2a8420;
    border: 1px solid #79747e;
  }
}

@layer components {
  input[type="text"] {
    @apply bg-transparent ring-0 focus:ring-0 focus:ring-transparent outline-none;
  }

  .active-menu {
    @apply bg-primary/10 flex flex-row items-center text-primary py-2 px-2 space-x-2 rounded-full cursor-pointer;
  }

  .inactive-menu {
    @apply hover:bg-primary/10 flex flex-row items-center py-2 px-2 space-x-2 rounded-full cursor-pointer hover:text-primary;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-2 bg-primary border border-transparent rounded-sm font-semibold text-xs text-white tracking-widest hover:opacity-70 active:bg-primary focus:outline-none focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
  }

  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 bg-inherit border border-gray-300 rounded-sm font-semibold text-xs text-primary  tracking-widest shadow-sm hover:opacity-80 focus:outline-none  focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150;
  }

  .btn-primary-outline {
    @apply inline-flex items-center justify-center px-4 py-2 border border-primary rounded-sm font-semibold text-xs text-white tracking-widest hover:opacity-70 active:bg-primary focus:outline-none focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
  }

  .input-group {
    @apply flex flex-col space-y-1 w-full relative z-0;
  }

  .input-label {
    @apply absolute left-2 top-1 bg-white text-gray-500 dark:bg-gray-900 transform -translate-y-1/2 px-2;
  }

  .text-input {
    @apply w-full h-12 bg-inherit border border-gray-300 focus:border-primary focus:ring-primary rounded-lg shadow-sm px-2;
  }

  .card {
    @apply w-full bg-white dark:bg-gray-900 dark:text-white rounded-sm my-2 flex flex-col;
  }

  .card-content {
    @apply w-full h-full p-1 flex flex-col space-y-3 overflow-y-auto no-scrollbar;
  }
}
